.Logo {
  display: flex;
  align-items: center;
}
@media (max-width: 750px) {
  .Logo {
    display: flex;
    margin: 0 auto;
  }
}
.Logo div a {
  text-decoration: none;
  font-weight: bolder;
  padding: 0 1rem 0 0;
  border-right: 2px solid rgb(120, 190, 32);
  color: rgb(120, 190, 32);
  font-size: 2rem;
}
.Logo span {
  font-size: 18px;
  padding-left: 0.1rem;
}

@media (max-width: 957px) {
  .Logo span {
    display: none;
  }
}
 