.Content {
  text-align: center;
  position:  relative;
}

.Content img {
  width: 100%;
  height: 80vh;
  min-width: 360px;
  object-fit: cover;
  object-position: center;
  margin: 20px 0;
    
}
.Content img:nth-of-type(2) {
  display: none;
} 
.Content section {
  position: absolute;
  left: 30px;
  top: 10rem;
  color: black;

  max-width: 30rem;
}
.Content section h1 {
  margin: 0;
  font-size: 30px;
}
.Content section div {
  font-size: 18px;
}
.Content section button {
  background-color: rgb(120, 190, 32);
  border: none;
  margin: 10px 10px;
  padding: 20px 30px;
  border-radius: 10px;
  font-weight: 600;
  min-width: 13rem;
}
.Content section button:hover {
  background-color: rgb(93, 164, 5);
}
.Content section a {
  text-decoration: none;
  color: black;
}



@media (max-width: 750px) {
  .Content section button {
    display: flex;
    margin: 10px auto ;

  }

}

@media (max-width: 750px) {
  .Content section {
    position: absolute;
    top: 30px;
    left: 100px;
  }

}
@media (max-width: 650px) {
  .Content section {
    position: absolute;
    top: 30px;
    left: 55px;
  }

}
@media (max-width: 550px) {
  .Content section {
    position: absolute;
    top: 30px;
    left: 35px;
  }

}
@media (max-width: 750px) {
  .Content img {
    display: none;
  }

}
@media (max-width: 750px) {
  .Content img:nth-of-type(2) {
    display: block;
    height: 95vh;
  }

}
