.NavToggle {
  display: none;

  padding: 1rem 1.5rem;
  min-height: 61px;

  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;

  background-color: yellow;
  border: none;
  
}

@media (max-width: 750px) {
  .NavToggle {
    display: inline-block;
  }
}