.Header {
  background-repeat: no-repeat;
  background-size: 100%;
  flex-wrap: wrap;
  min-height: 60vh;
}
.Header h1 {
  margin: 0;
  text-align: center;
  color: rgb(37, 128, 128);
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
.Header div {
  
  text-align: center;
}