Footer {
  background-color: black;
}
.Footer div {
  text-align: center;
  padding: 1rem;
  color: white;
}
.allfooter {
  display: flex;
}
Footer .footer-a ul {
  list-style-type: none;
}
section {
  padding: 0 1rem;
}