.Nav {
  list-style-type: none;
  margin: 0;
  display: flex;
  padding-left: 0;
}
.Nav .bs {
  margin: 0 0 0 15px;
  display: none;
}
@media(max-width: 750px) {
  .Nav {
    flex-direction: column;
  }
}
@media(max-width: 750px) {
  .Nav .bs {
    display: block;
  }
}

