.Nav {
  background-color:  rgb(245, 245, 245);
}
.Nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}
 


