.container {
  display: flex;
  background-color: rgb(249, 181, 55);
  justify-content: space-between;
}
.Logo {
  display: flex;
  padding: 1rem;
  
}
.Logo div {
  font-weight: bolder;
  padding-right: 5px;
  border-right: 2px solid black;
}

.Nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}
 
.Nav a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: rgb(0, 60, 62);
}
.Nav a:hover {
  background-color: rgba(241, 211, 156, 0.621);
}
